<div class="row">
  <div class="col s6">
    <h2 class="properties_new_h2"><%= "#{t('.hi')}, Rodolfo! #{ t('.title_preparation_ad')}" %></h2>
    <span>
        <%= "#{t('.step')} 1 " %>
    </span>

    <h4><%= t('.properties_kind_of_space') %></h4>

  <%= simple_form_for @property do |f| %>
    <%= f.input :title %>
    <%= f.input :type_property %>
    <%= f.input :accommodates, input_html: { min: 1, max: 40 } %>
    <%= f.input :bathrooms, input_html: {  min: 1, max: 10 } %>
    <%= f.input :number_of_rooms, input_html: { min: 1, max: 20 } %>
    <%= f.input :furnished, as: :boolean, checked_value: true, unchecked_value: false, input_html:{} %>
    <%= f.input :single_room, as: :boolean %>
    <%= f.input :share_room, as: :boolean %>
    <%= f.input :price %>
    <%= f.input :description, as: :text, input_html: {id: "textarea1", class: "materialize-textarea", "data-length": 250} %>
  <%= f.button :submit %>
<% end %>

  </div>

  <div class="col s6">

      <p>IMAGEM FUTURA</p>
  </div>
</div>