<h3><%= @property.title %></h3>
<div class="container">
    <div class="row">
        <div class="col s6">
            <b><%= @property.type_property %></b>
        </div>
        <div class="col s6">
            <b><%= @property.accommodates %></b>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <b><%= @property.bathrooms %></b>
        </div>
        <div class="col s6">
            <b><%= @property.number_of_rooms %></b>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <b><%= @property.furnished %></b>
        </div>
        <div class="col s6">
            <b><%= @property.single_room %></b>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <b><%= @property.share_room %></b>
        </div>
        <div class="col s6">
            <b><%= @property.price %></b>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <b><%= @property.description %></b>
        </div>
    </div>
</div>