<header>

  <nav class="nav-bar">
    <div class="nav-wrapper">

      <a href="<%= root_path %>" class="brand-logo">
       <svg>
         <use xlink:href="<%= asset_path('page') %>#logo" />
       </svg>
      </a>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down" id="main-menu-nav">
        <li>
          <%= link_to I18n.t('.menu.register_fraternity'), new_property_path, class: 'btn red accent-2 btn-ad' %>
        </li>
        <li>
          <%= link_to I18n.t('.menu.signup'),  new_user_registration_path %>
        </li>
        <li>
          <%= link_to I18n.t('.menu.signin'),  new_user_session_path %>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <%= link_to I18n.t('.menu.register_fraternity'), new_property_path, class: 'btn red accent-2 btn-ad' %>
        </li>
        <li>
          <%= link_to I18n.t('.menu.signup'),  new_user_registration_path %>
        </li>
        <li>
          <%= link_to I18n.t('.menu.signin'),  new_user_session_path %>
        </li>
      </ul>
    </div>
  </nav>
</header>